.action-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
  justify-content: center; /* Center-align cards horizontally */
}

.card {
  flex: 0 1 calc(25% - 20px); /* Adjust card width to fit four cards per row with gap */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px; /* Adjust card height as needed */
 /* Optional: Background image */
  background-size: cover; /* Ensure background image covers the entire card */
  background-repeat: no-repeat; /* Ensure background image does not repeat */
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

  .actiondiv {
    background-image: url('https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif');
    background-size: cover;
  /* Ensure the background image does not repeat */
    /* You can add more styles as needed */
  }

  .card-body {
    display: flex;
    flex-direction: column;
    background-image: "https://media.tenor.com/Rfk3KapYYLcAAAAM/fireball-hell-hole.gif";
  }
  
  .card-body h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card-image {
    max-width: 220px;
    height: 220px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 3px solid black;
    padding: 10px 0;
    text-align: center;
    
  }
  .title
  {
    color: grey;
  }

  .action-list-shoot {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards */
    justify-content: center; /* Center-align cards horizontally */
    padding: 20px;
    border-radius: 8px;
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXpwNmNobWI3dWdjMTdwYWRlYWgweHluczg5dmlud3BycjRneGRyNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7buijTqhjxjbEqjK/giphy.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .action-list-shoot h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .action-list-shoot a {
    color: #007bff;
    text-decoration: none;
  }
  
  .fighter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-image: url('https://t4.ftcdn.net/jpg/06/86/34/47/240_F_686344787_OLFFBXI3FC2yZROQAi55pXzvLjsmsdl0.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .fighter-list h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .fighter-list a {
    color: #007bff;
    text-decoration: none;
  }

  .sports-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-image: url('https://t3.ftcdn.net/jpg/04/83/81/78/240_F_483817817_dVwUCdYSLnITSsOpsLr42bnUz9Xit92N.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .sports-list h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .sports-list a {
    color: #007bff;
    text-decoration: none;
  }

  .h3{
    color:black
  }