.action-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
  justify-content: center; /* Center-align cards horizontally */
}

.card {
  flex: 0 1 calc(25% - 20px); /* Adjust card width to fit four cards per row with gap */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px; /* Adjust card height as needed */
 /* Optional: Background image */
  background-size: cover; /* Ensure background image covers the entire card */
  background-repeat: no-repeat; /* Ensure background image does not repeat */
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

  .actiondiv {
    background-image: url('https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif');
    background-size: cover;
  /* Ensure the background image does not repeat */
    /* You can add more styles as needed */
  }

  .card-body {
    display: flex;
    flex-direction: column;
    background-image: "https://media.tenor.com/Rfk3KapYYLcAAAAM/fireball-hell-hole.gif";
  }
  
  .card-body h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 3px solid black;
    padding: 10px 0;
    text-align: center;
    
  }